# Data Manipulation
pandas>=2.0.0
numpy>=1.24.0

# Database Connectivity
sqlalchemy>=1.4.0
psycopg2-binary

# Airflow & Postgres Integration
apache-airflow-providers-postgres

# Data Quality
great_expectations>=0.17.0